@import 'homepage.scss';
@import 'bastille.scss';
@import 'palette.scss';
@import 'enchanted.scss';
@import 'bastille.scss';





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Roboto' sans-serif;
    color: #454545;
}

